<br>
<br>
<div class="container-fluid">

        <div class="row ">
                <div class="col-sm">
                   
                </div>
                <div class="col-sm ">
                    An App created using MEAN stack<br>

                    &nbsp;&nbsp;&nbsp;<b>M</b>: MongoDB<br>
                    &nbsp;&nbsp;&nbsp;<b>E</b>: Express<br>
                    &nbsp;&nbsp;&nbsp;<b>A</b>: Angular<br>
                    &nbsp;&nbsp;&nbsp;<b>N</b>: Node.js<br>

                </div>
                <div class="col-sm">
                        
                    </div>
        </div>
       
        

</div>
<br>
<br>
<div class="container justify-content-between">
       
        <div class="row justify-content-between">
                <div class="col-sm-4">
                   
                    </div>
                <div class="col-sm-4">
                   <b>Developed by Sanu Shilshad</b>
                </div>
                <div class="col-sm-4">
                        
                     </div>
           
        </div>
</div>


